.darktheme-switch-container button.darktheme {
  position:absolute;
  margin-left: 120px;
  padding-left: 45px;
  float: left;
  top: 22px;
  width: 30px;
  height:1.5rem;
  border-radius:500px;
  border:2px solid var(--textlight);
  background-color:transparent;
  cursor:pointer;
  appearance:none;
}

body.darktheme .darktheme-switch-container button.darktheme {
  border:2px solid var(--textdark);
}

.darktheme-switch-container button.darktheme::before {
  content:'';
  position:absolute;
  left:4px;
  top:50%;
  width:1rem;
  height:1rem;
  background-color:var(--textlight);
  border-radius:50%;
  transform:translateY(-50%);
}

body.darktheme .darktheme-switch-container button.darktheme::before {
  background-color:var(--textdark);
}

.darktheme-switch-container button.darktheme.active::before {
  left:auto;
  right:4px;
}