body {
  background-color: var(--backgroundlight);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

body.darktheme {
  background-color: var(--backgrounddark);
}

.container {
  width: 100%;
}

.title {
  text-align: center;
}

.card {
  background-color: var(--cardlight);
  color: var(--textlight);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  margin-top: 20px;
  height: auto;
  display: table;
  width: calc(100% - 60px);
}

body.darktheme .card {
  background-color: var(--carddark);
  color: var(--textdark);
}

.footer {
  padding: 20px;
  text-align: center;
  background: var(--cardlight);
  color: var(--textlight);
  margin-top: 20px;
}

body.darktheme .footer {
  background: var(--carddark);
  color: var(--textdark);
}

.button {
  background-color: var(--menulight);
  border: none;
  color: var(--textlight);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--menuhoverlight);
}

body.darktheme .button {
  background-color: var(--menudark);
  color: var(--textdark);
}

body.darktheme .button:hover {
  background-color: var(--menuhoverdark);
}

.halfwidth {
  width: 40%;
}

.profile-circle {
  max-width: 80%;
  border-radius: 50%;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-image {
  height: 115px;
}

@media only screen and (max-width: 798px) {
  .footer-image {
    height: 50px;
  }
}

.infobox {
  float: right;
  margin-left: 20px;
  max-width: 400px;
  background: var(--infoboxlight);
}

body.darktheme .infobox {
  background: var(--infoboxdark);
}

@media only screen and (max-width: 798px) {
  .infobox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    float: none;
  }
}

.infobox-inner {
  background: var(--cardlight);
  color: var(--textlight);
  margin: 10px;
  padding: 10px;
}

body.darktheme .infobox-inner {
  background: var(--carddark);
  color: var(--textdark);
}

.infobox-img {
  max-width: 100%;
  max-height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 798px) {
  .infobox-img {
    max-height: 400px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.infobox-table {
  width: 100%;
}

th, td {
  border: 1px solid;
  padding: 5px;
  text-align: center;
}

a {
  color: var(--linklight);
}

body.darktheme a {
  color: var(--linkdark);
}

.img-side {
  float: left;
  max-width: 10%;
  min-width: 220px;
  padding-right: 20px;
}

.table-left-of-infobox {
  width: calc(100% - 420px);
  padding-bottom: 30px;
}

@media only screen and (max-width: 798px) {
  .table-left-of-infobox {
    width: 100%;
  }
}

.table-fullwidth {
  width: 100%;
  padding-bottom: 30px;
}

.bufflads-stats th {
  background-color: var(--infoboxlight);
}

body.darktheme .bufflads-stats th {
  background-color: var(--infoboxdark);
}

.win {
  background-color: var(--win);
  color: var(--textlight);
}

body.darktheme .win {
  border-color: var(--textdark);
}

.draw {
  background-color: var(--draw);
  color: var(--textlight);
}

body.darktheme .draw {
  border-color: var(--textdark);
}

.loss {
  background-color: var(--loss);
  color: var(--textlight);
}

body.darktheme .loss {
  border-color: var(--textdark);
}

.flyyweight {
  background-color: var(--flyyweight);
  color: var(--textlight);
  border-color: var(--textlight);
}

body.darktheme .flyyweight {
  border-color: var(--textdark);
}

.flyyweight a,
body.darktheme .flyyweight a {
  color: var(--textlight);
}

.lighttweight {
  background-color: var(--lighttweight);
  color: var(--textdark);
  border-color: var(--textlight);
}

body.darktheme .lighttweight {
  border-color: var(--textdark);
}

.lighttweight a,
body.darktheme .lighttweight a {
  color: var(--textdark);
}

.cruiserrweight {
  background-color: var(--cruiserrweight);
  color: var(--textdark);
  border-color: var(--textlight);
}

body.darktheme .cruiserrweight {
  border-color: var(--textdark);
}

.cruiserrweight a,
body.darktheme .cruiserrweight a {
  color: var(--textdark);
}

.heavyyweight {
  background-color: var(--heavyyweight);
  color: var(--textdark);
  border-color: var(--textlight);
}

body.darktheme .heavyyweight {
  border-color: var(--textdark);
}

.heavyyweight a,
body.darktheme .heavyyweight a {
  color: var(--textdark);
}

.bronze {
  background-color: var(--bronze);
  color: var(--textlight);
}

.silver {
  background-color: var(--silver);
  color: var(--textlight);
}

.gold {
  background-color: var(--gold);
  color: var(--textlight);
}

.glow {
  -webkit-filter: drop-shadow(2px 2px 2px lightgrey)
  drop-shadow(2px -2px 2px lightgrey)
  drop-shadow(-2px 2px 2px lightgrey)
  drop-shadow(-2px -2px 2px lightgrey);
  filter: drop-shadow(2px 2px 2px lightgrey)
  drop-shadow(2px -2px 2px lightgrey)
  drop-shadow(-2px 2px 2px lightgrey)
  drop-shadow(-2px -2px 2px lightgrey);
}

.video-container {
  max-width: 560px;
  float: left;
}

@media only screen and (max-width: 798px) {
  .video-container {
    width: 100%;
    max-width: 100%;
    float: none;
  }
}

.video {
  aspect-ratio: 16 / 9;
  margin: 10px;
  width: calc(100% - 20px);
}


/* Responsive table */
table.responsive-table {
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table.responsive-table caption {
  font-weight: bold;
  margin: .5em 0 .75em;
}

.profile-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 140px;
}

.profile-background a {
  color: black !important;
  text-shadow: 0 0 3px white, 0 0 8px white;
  position: relative;
  top: 60px;
  font-weight: bold;
}

div.profile-background a {
  top: 115px;
}

@media screen and (max-width: 600px) {
  
  table.responsive-table thead {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table.responsive-table tr {
    display: block;
    margin-bottom: 40px;
  }
  
  table.responsive-table td {
    display: block;
    margin-bottom: 1px;
  }
  
  table.responsive-table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  .profile-background {
    height: 200px;
  }

  table.responsive-table .profile-background a {
    top: 180px;
  }
  
}
