body {
  background-color: var(--backgroundlight);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

body.darktheme {
  background-color: var(--backgrounddark);
}

.container {
  min-height: 100%;
}

.title {
  text-align: center;
}

.card {
  background-color: var(--cardlight);
  color: var(--textlight);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  margin-top: 20px;
}

body.darktheme .card {
  background-color: var(--carddark);
  color: var(--textdark);
}

.footer {
  padding: 20px;
  text-align: center;
  background: var(--cardlight);
  color: var(--textlight);
  margin-top: 20px;
}

body.darktheme .footer {
  background: var(--carddark);
  color: var(--textdark);
}

.button {
  background-color: var(--menulight);
  border: none;
  color: var(--textlight);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--menuhoverlight);
}

body.darktheme .button {
  background-color: var(--menudark);
  color: var(--textdark);
}

body.darktheme .button:hover {
  background-color: var(--menuhoverdark);
}

.halfwidth {
  width: 40%;
}

.profile-circle {
  max-width: 80%;
  border-radius: 50%;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-image {
  height: 115px;
}

@media only screen and (max-width: 798px) {
  .footer-image {
    height: 50px;
  }
}
