:root {
  --backgroundlight: #dddddd;
  --backgrounddark: #404258;

  --cardlight: #ffffff;
  --carddark: #474E68;

  --infoboxlight: lightgray;
  --infoboxdark: #323952;

  --textlight: black;
  --textdark: lightgray;

  --menulight: darkgray;
  --menudark: #212121;

  --menuhoverlight: #777777;
  --menuhoverdark: #3c3757;
}
