:root {
  --backgroundlight: #dddddd;
  --backgrounddark: #0d1117;

  --cardlight: #ffffff;
  --carddark: #161b22;

  --infoboxlight: lightgray;
  --infoboxdark: #30363d;

  --textlight: black;
  --textdark: lightgray;

  --menulight: darkgray;
  --menudark: #212121;

  --menuhoverlight: #777777;
  --menuhoverdark: #141414;

  --linklight: #406bbb;
  --linkdark: #8faecc;

  --win: #75c979;
  --draw: #5293a3;
  --loss: #d64949;

  --flyyweight: rgb(206, 206, 206);
  --lighttweight: rgb(94, 102, 204);
  --cruiserrweight: rgb(207, 88, 73);
  --heavyyweight: rgb(27, 27, 27);
}
